dash
plotly
pandas 
alpha_vantage
dash_bootstrap_components
jupyter
python-dotenv
dash
plotly
pandas 
numpy==1.23.0 
alpha_vantage
dash_bootstrap_components
jupyter
python-dotenv
seaborn
matplotlib
statsmodels==0.13.5
scikit-learn
arch
prophet
python-box
dill
scipy
Cython==0.29.36
pmdarima