<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soyinka M Sowoolu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#certs">Trainings & Certificates</a></li>
            <li><a href="#demos">Apps Demo</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <section id="home">
        <h1>Welcome to the Home Page</h1>
    </section>

    <section id="resume">
        <h1>My Resume</h1>
    </section>

    <section id="portfolio">
        <h1>My Projects Portfolio</h1>
    </section>
    
    <section id="blog">
        <h1>My Blog & Social Media Posts</h1>
    </section>

    <section id="certs">
        <h1>My Training and Certificates</h1>
    </section>

    <section id="demos">
        <h1>Applications Demo</h1>
    </section>
  
    <section id="contact">
        <h1>Contact Me</h1>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
