<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% block styles %}
  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

 
  {% endblock %}

{% endblock %}
</head>

<body class="index-page">

  <header id="header" class="header d-flex flex-column justify-content-center">

    <i class="header-toggle d-xl-none bi bi-list"></i>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i><span>About</span></a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i><span>Resume</span></a></li>
        <li><a href="#portfolio"><i class="bi bi-file-bar-graph navicon"></i><span>Portfolio</span></a></li>
        <li><a href="#miniblog"><i class="bi bi-pen navicon"></i><span>Mini-Blogs</span></a></li>
        <li><a href="#certs"><i class="bi bi-file-earmark-check navicon"></i><span> Certificates</span></a></li>
        <li><a href="#demo"><i class="bi bi-display navicon"></i><span>Demo Apps</span></a></li>
        <li><a href="#contact"><i class="bi bi-envelope-open navicon"></i><span>Contact</span></a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <img src="static/assets/img/profile_standing_final.png" alt="">

      <div class="container" data-aos="zoom-out">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <h2>Soyinka M Sowoolu PMP</h2>
            <p><span class="typed" data-typed-items=" Data Analyst, Data Scientist, Project Manager, Business Analyst, Continuous Learner">Data Analyst</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
            <div class="social-links">
              <a href="{{linkedin_url}}"><i class="bi bi-linkedin"></i></a>
              <a href="{{github_url}}"><i class="bi bi-github"></i></a>
              <a href="{{medium_url}}"><i class="bi bi-medium"></i></a>
              <a href={{twitter_url}}><i class="bi bi-twitter-x"></i></a>
              
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <h4>My Brief Biography</h4>
        <p>I was born in the ancient city of Ibadan, Nigeria. I had my initial education in Ibadan up until my first university degree. 
        I relocated to Lagos, Nigeria due to my acceptance into the highly competitive Management Trainee Programme of defunct Gateway  Plc. 
        After spending a good number of years in banking business analysis and development, my growth mindset and engineering background kicked in 
        and I expanded my career to Project Management and qualified as a PMI certified project manager in 2017. Having being exposed to the use of 
        computers just after leaving secondary school, I kept this passion alive learning and mastering various computer applications to varied 
        levels of proficiencies. Currently based in London, UK after formalising my data science and data analysis skills with an M.SC degree, 
        I continue to help solve real-life business challenges in a continuous learning environment</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="static/assets/img/Profile Pic_2024.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <h4>Key Highlights About Me.</h4>
            <p class="fst-italic py-3">
              Below are the key elements of what makes me who I am and keeps me going.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-diamond"></i><strong>FAMILY:</strong></li>
                  <ul>
                    <li><i class="bi bi-dot"></i><span>Married with a son.</span></li>
                    <li><i class="bi "></i><span></span></li>
                    <li><span>  </span></li>
                    <li></i><span>   </span></li>
                    <li><span>  </span></li>
                    <li></i><span>   </span></li>
                    <li><span>  </span></li>
                    <li></i><span>   </span></li>
                    
                  </ul>
                  <li><i class="bi bi-diamond"></i> <strong>PERSONAL VALUES:</strong></li>
                  <ul>
                    <li><i class="bi bi-dot"></i><span>Integrity.</span></li>
                    <li><i class="bi bi-dot"></i><span>Continuous Learning.</span></li>
                    <li><i class="bi bi-dot"></i><span>Adaptability.</span></li>
                    <li><i class="bi bi-dot"></i><span>Growth Mindset.</span></li>
                    
                  </ul>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-diamond"></i> <strong>INTERESTS:</strong> </li>
                  <ul>
                    <li><i class="bi bi-dot"></i><span>Football.</span></li>
                    <li><i class="bi bi-dot"></i><span>Chess.</span></li>
                    <li><i class="bi bi-dot"></i><span>Reading & Writing.</span></li>
                    <li><i class="bi bi-dot"></i><span>Documentatries, Movies & Computer Games.</span></li>
                    
                  </ul>
                  <li><i class="bi bi-diamond"></i> <strong>LANGUAGES:</strong> </li>
                  <ul>
                    <li><i class="bi bi-dot"></i><span>English - Native.</span></li>
                    <li><i class="bi bi-dot"></i><span>Yoruba - Native.</span></li>
                    <li><i class="bi bi-dot"></i><span>French - A2 Level.</span></li>
                   
                    
                  </ul>

                </ul>
              </div>
            </div>
            <p class="py-3">
             I also believe in giving back to the community and enjoy mentoring young professionals,
              volunteering, sharing knowledge and participating in community development initiatives to 
              ensure better outcomes for everyone especially those with percieved disabilit(ies).
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-5">

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-hourglass"></i>
            <div class="stats-item">
              <span>20+</span>
              <p>Experience (years)</p>
            </div>
          </div><!-- End Stats Item -->
          

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-gear"></i>
            <div class="stats-item">
              <span>65+</span>
              <p>Projects</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-people"></i>
            <div class="stats-item">
              <span> 30+</span>
              <p>Team members</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-mortarboard"></i>
            <div class="stats-item">
              <span>10+</span> 
              <p>University Degrees & Certifications</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Skills Section -->
    <section id="skills" class="skills section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        <p>I have developed a vast amount of technical and soft skills to enhance my productivity. Top of among these are:</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Microsoft Excel (MOS Expert)</span> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Microsoft Office (Word, PowerPoint, Access)</span> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Python (data Analysis, ML & Web)</span> <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Data Viz (Python, Tableau & Power BI)</span> <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>SQL</span> <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>HTML, CSS & Javascript</span> <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Git & Github</span> <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Project Management</span> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Business Strategy</span> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Relationship Management</span> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

        </div>

      </div>

    </section><!-- /Skills Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>A technical and commercial professional with 20+ years experience in Business Development, 
          Data Analysis and Project Management with recent formal career expansion into Data Science.
           I have coordinated and collaborated actively while working in team of up to 30 people delivering projects of over $5m</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Summary</h3>

            <div class="resume-item pb-0">
              <h4>Soyinka Modupe Sowoolu</h4>
              <p><em>Results-driven data analyst, data scientist, project manager with over 20 years of combined experience in commercial banking, upstream oil and gas, technology and education industry. </em></p>
              <ul>
                <li>London, United Kingdom</li>
                <li>soyinka.sowoolu@gmail.com</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Science - Data science </h4>
              <h5>2023</h5>
              <p><em>Cardiff Metropolitan University, Cardiff, Wales, UK</em></p>
              <p>Grade: Distinction</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>MBA  - operational planning & control</h4>
              <h5>2010</h5>
              <p><em>Obafemi Awolowo University, Ile-Ife, Nigeria</em></p>
              
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>BACHELOR OF SCIENCE - AGRICULTURAL ENGINEERING</h4>
              <h5>2002</h5>
              <p><em>University of Ibadan, Ibadan, Nigeria</em></p>
              <p>Grade: Second Class Upper Division</p>
              
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Professional Experience</h3>
            

            <div class="resume-item">
              <h4>Teaching Assistant</h4>
              <h5>Feb 2024 - date</h5>
              <p><em>Parkwood Hall Cooperative Academy, London, United Kingdom </em></p>
              <ul>
                <li>Maintained accurate class records, assessments, and Individualized Education Plans (IEPs), ensuring compliance with data protection regulations.</li>
                <li>Ensure prompt and 100% accurate collection of Evidence for Learning (EFL) data. </li>
                <li>Assessments of individual students, including tests and routine marking and analysis, to track progress and inform instructional strategies.</li>
                <li>Independently prepared and developed educational materials and activities aligned with teacher objectives, utilizing basic technology and ICT effectively.</li>
                <li>Collaborated with colleagues to maintain continuity of support for students, participating in staff meetings and professional development activities.</li>
                <li>Supported the creation of an Excel workbook tracker for monitoring staff CPD training certificates fallen due within 60 days for renewal using date formula conditional formatting technique. </li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Data Analytics Consultant (Part-time & Remote)</h4>
              <h5>Apr 2022 - Dec 2023</h5>
              <p><em>Manup Service (www.getmanup.co)</em></p>
              <ul>
                <li>Expanded the platform sign-ups by 120% to 5,000+ users with monitoring and tracking of all defined 10+ KPIs.</li>
                <li>Engineered an Excel VBA-based program for automated weekly KPI reporting, pulling data from MariaDB-SQL databases.</li>
                <li>Introduced a reporting dashboard built with Plotly Dash that improved personnel type availability confirmation on the platform in respect of required discipline and location to less than 1 minute.</li>
                <li>Implemented a Google Analytics dashboard to monitor the platform traffic trends for insights which helped increase the lead generations and personnel sign-ups by about 12% month on month based on data-driven targeted digital marketing campaign strategies.</li>
                <li>Coached a team of 2 content creators to produce data-driven social media content to grow the company LinkedIn page to 24,000+ followers.</li>
                <li>Performed data quality assurance workflows on platform with incomplete profiles dropping to about 35%. </li>
                <li>Spearhead initiatives in data management, warehousing, and migration, ensuring the availability of reliable data for startup operations.</li>
                
              </ul>
            </div><!-- Edn Resume Item -->

            
            <div class="resume-item">
              <h4>Business Development & Project Analyst (Part-time & Remote)</h4>
              <h5>Mar 2022 - Dec 2023</h5>
              <p><em>Ofserv Nigeria Limited</em></p>
              <ul>
                <li>Provided the strategic, administrative, documentation structure, and implementation supervision for ALL Business Development and Project Management activities.</li>
                <li>Commercial negotiation and close of ~$10m value Lifting Inspection & Competency Training Contract of 2 years +1 with Shell Petroleum Development Company (SPDC)</li>
                <li>Led the integration and achieved the tender submission activities 5 days before due date for the bidding consortium for the Shell Nigeria Gas 5 mmscfpd BOWER Gas Plant EPC Project</li>
                <li>Carried out the project execution analysis and remotely managed delivery within the time and budget 77 cluster sites in the first 6 months of affiliate company- Vobiss Gridworx's Master Service Agreement with IHS Towers for construction and installation of Fibre network infrastructure.</li>
              </ul>
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>Trainee Business Analyst (Internship)</h4>
              <h5>Apr 2023 - August 2023</h5>
              <p><em>Speedy Mentors UK</em></p>
              <ul>
                <li>Acquired experience in Task Management and Kanban through popular online tools like Trello.</li>
                <li>Gained expertise with Agile methodologies.</li>
                <li>Improved decision-making and logical-thinking skills through analysing the business requirements and providing recommendations to the clients.</li>
                <li>Formulated industry-grade 10+ templates for important documents that BA needs to know like Project Charter, Project Scope, Business Requirements Document, Technical Specification Document, Functional Specifications Document and making sure to maintain the documents.</li>
                <li>Designed Customer Journey Maps and Process Flowcharts that are useful in presenting the business processes to clients and the impact when the project is implemented.</li>
                <li>Mapped data in line with client requirements.</li>
                <li>Developed different kinds of presentations that are needed in client meetings to help them further understand the business and technical requirements, and the processes.</li>
                <li>Created comprehensive User Stories for over 4 personas and Wireframes for the given requirements.</li>
                <li>Devised Functional End-to-End Testing document.</li>
                <li>Worked in cooperation with a senior business analyst.</li>
              </ul>
            </div><!-- Edn Resume Item -->
            

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">

               

            

            <div class="resume-item">
              <h4>Business Development Executive & Head, Projects</h4>
              <h5>Jan 2014 - Feb 2022</h5>
              <p><em>Ofserv Nigeria Limited, Lagos, Nigeria</em></p>
              <ul>
                <li>Identified, Initiated, developed, and closed new business opportunities (won & fulfilled work orders) of over $ 5 million.</li>
                <li>Accomplished 100% project delivery within time and cost meeting clients’ requirements and expectations for 60+ projects with zero Lost Time Incident (LTI).</li>
                <li>Designed and programmed automated reports generation workbooks with Excel VBA that resulted in reduction of reporting turnaround time to 5-20 minutes rather than in days. </li>
                <li>Achieved the certification and subsequent transformation of the QMS system to an Integrated Management system for ISO 9001:2015, ISO 14001 and OSHAS 18001.</li>
                <li>Designed and presented 100+ technical content presentation slides at client locations, online and public exhibitions such as SPE conferences, Shell Technology week etc. Conferences & meetings attended in Houston, Dallas, UK, Uganda, Ghana, Togo etc.</li>
                <li>Managed OFSERV activities within designated clients, specifically Shell, Addax, Seplat, NAOC, NAE, FMC, Transocean, Shelf Drilling, ExxonMobil, Total etc.</li>
                <li>Strategic support, supervision and Project delivery of oil & gas workforce marketplace startup- Manup Service-http://www.getmanup.co from conception to MVP launch.</li>
                <li>9.8 % shareholding in Ofserv Drilling Services -subsidiary of Ofserv Nigeria Limited</li>
                <li>2% shareholding and Project Director for Vobiss Gridworx Nigeria Limited-diversification vehicle into Telecommunications business space. Managed the building and subsequent operation of 48Km + Aerial Fibre Network on Ikeja Electric power infrastructure within scope, cost and time budgets.</li>
              
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Relationship Manager | Business Data Analyst Retail & Wholesale Banking</h4>
              <h5> Jun 2010 - Jul 2013</h5>
              <p><em>First Bank Plc, Lagos, Nigeria</em></p>
              <ul>
                <li>Negotiated $12.4m Petroleum Products Lifting Facility with confirmed LC of $12.08m resulting in a 150% increase in branch revenue in 2012 compared to previous year
                  </li>
                <li>Coordinated and collated reports with performance analysis for sub-regional monthly performance review meetings and action points tracking.</li>
                <li>Administered risk asset portfolio of Over N4billion.</li>
                <li>Created Excel based credit monitoring template that improved early warning signals identification by up to 30%.</li>
                <li>Managed credit processing activities to ensure smooth transactions.</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Risk Management/Special Assets analyst </h4>
              <h5>Jan 2010 - Mar 2010 & Apr 2010 - May 2010</h5>
              <p><em>Intercontinental Bank Plc, Lagos, Nigeria</em></p>
              <ul>
                <li>Recovery of non-performing loans, loan work-out/ restructuring.</li>
                <li>Credit administration of the regional credit portfolio with tracking for early warning signals</li>
                <li>Developed an Excel-based tool for monitoring share loan collateral cover, calculating daily loan cover percentages using daily share prices.</li>
                <li>Carried out remedial actions to prevent assets from being classified as non-performing.</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Relationship Officer </h4>
              <h5>Nov 2005 - Jan 2010 & Mar 2010 - Apr 2010</h5>
              <p><em>Intercontinental Bank Plc, Lagos, Nigeria</em></p>
              <ul>
                <li>Business Development - Marketing of various bank products</li>
                <li>Credit appraisal, approval processing and disbursement.</li>
                <li>Relationship managament of both credit and non-borrowing customers</li>
                <li>Business performance analysis and report generation.</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Management Trainee | Account Officer </h4>
              <h5>Mar 2004 - Nov 2005 (Merger with Intercontinental Bank Plc)</h5>
              <p><em>Gateway Bank Plc, Lagos, Nigeria</em></p>
              <ul>
                <li>Classroom lectures in banking operations, marketing and credit processes.</li>
                <li>Courses in Soft skills (Impact Consulting), Marketing skills (Mack-Tay Tac ), Communication and business writing skills (Goke Ilesanmi, Financial Standard), Economics for Bankers (Adedipe & Associates), Business Etiquette (Poise finishing school) etc</li>
                <li>Internship programs of banking operations, marketing and credit departments in 5 different branches of the bank</li>
                <li>Business Development - Marketing of various bank products</li>
                <li>Credit appraisal, approval processing and disbursement.</li>
                <li>Relationship managament of both credit and non-borrowing customers</li>
                <li>Business performance analysis and report generation.</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Professional Certifications</h3>
            

            <div class="resume-item">
              <h4>Project Management Professional (PMP)</h4>
              <h5>Issue Date: Aug 2017 </h5>
              <h5>Expiry Date: Aug 2026</h5>
              <p><em>Project Management Institute</em></p>
              <ul>
               
            </div><!-- Edn Resume Item -->


            <div class="resume-item">
              <h4>Associate (ACIB)</h4>
              <h5>Issue Date: Jun 2012 </h5>
              <h5>Expiry Date: N/A</h5>
              <p><em>Chartered Institute of Bankers of Nigeria (CIBN)</em></p>
              <ul>
               
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Microsoft Office Specialist - Excel 2019 Expert</h4>
              <h5>Issue Date: Jul 2023 </h5>
              <h5>Expiry Date: N/A</h5>
              <p><em>Microsoft Corporation</em></p>
              <ul>
               
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Introduction to UK Financial Regulations & Professional Integrity</h4>
              <h5>Issue Date: Jul 2023 </h5>
              <h5>Expiry Date: N/A</h5>
              <p><em>Certified Institute for Further Accreditation (CIFA)</em></p>
              <ul>
               
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">{% block portfolio %}{% endblock %}</section>

    <!-- Mini-blog Section -->
    <section id="miniblog" class="mini-blog section">{% block miniblog %}{% endblock %}

    </section><!-- /Mini-blog Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">{% block testimonials %}{% endblock %}

    </section><!-- /Testimonials Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">{% block contact %}{% endblock %}

     
    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">
    <div class="container">
      <h3 class="sitename">Soyinka M Sowoolu</h3>
      <p>Experienced Data Analyst | Data Scientist | Project Manager | Consistent Learner | I help solve Project Management, Business Data Analysis and Data Science challenges!</p>
      <div class="social-links d-flex justify-content-center">
        <a href="{{linkedin_url}}"><i class="bi bi-linkedin"></i></a>
        <a href="{{github_url}}"><i class="bi bi-github"></i></a>
        <a href="{{medium_url}}"><i class="bi bi-medium"></i></a>
        <a href={{twitter_url}}><i class="bi bi-twitter-x"></i></a>
       
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Soyinka Sowoolu 2024</strong> <span>All Rights Reserved</span>
        </div>

      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->

  <script src="static/assets//vendor//bootstrap//js/bootstrap.bundle.min.js"></script>
  <script src="static/assets//vendor//php-email-form//validate.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>