{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Soyinka M Sowoolu{% endblock %}
{% block portfolio %}



      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>I leverage my experience and expertise in data analysis, machine learning, and statistical modeling to uncover insights and drive actionable business decisions. My portfolio showcases a variety of projects that highlight my proficiency in data wrangling, visualization, predictive modeling, and deploying machine learning models. In addition, I showcase a list of Oil & Gas related projects I managed from initiation to closure.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-data-anal">Data Analysis</li>
            <li data-filter=".filter-data-sci">Data Science</li>
            <li data-filter=".filter-data-pm">Project Management</li>
          </ul><!-- End Portfolio Filters -->
          
          {% for project in projects %}
<div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
    <div class="col-lg-4 col-md-6 portfolio-item isotope-item {{ project.filterClass }}">
        <div class="card h-100">
            <div class="card-img-container">
                <img src="{{ project.img }}" class="card-img-top" alt="{{ project.title }}">
            </div>
            <div class="card-body">
              {% if project.tag %}
                    <p class="bi bi-tag"> {{project.tag}}</p>
                    {% endif %}
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.shortDesc }}</p>
                <p class="text-warning"><em class="">{{ project.tech }}</em></p>
                <div class="d-flex flex-wrap">
                    {% if project.codeLink %}
                    <a href="{{ project.codeLink }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary mx-2 mb-2">Code</a>
                    {% endif %}
                    {% if project.dockerLink %}
                    <a href="{{ project.dockerLink }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary mx-2 mb-2">Docker</a>
                    {% endif %}
                    {% if project.webHost %}
                    <a href="{{ project.webHost }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary mx-2 mb-2">WebHost</a>
                    {% endif %}
                    {% if project.readMore %}
                    <a href="{{ project.readMore }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary mx-2 mb-2">Read More</a>
                    {% endif %}
                    
                    

                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
{% block miniblog %}
    <!-- miniblog Section -->
    

      
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Mini-Blog</h2>
        <p>Welcome to my mini-blog page, where I curate all my shared insights and updates across social media platforms such like X, LinkedIn and Medium. Explore a variety of my posts covering industry trends, knowledge share, project highlights, professional and personal opinions. </p>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="row gy-4">
            {% for post in posts %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-cyan position-relative w-100">
                    <div class="card-img-container">
                        <img src="{{ post.img }}" class="card-img-top" alt="{{ post.title }}">
                    </div>
                    <i class="bi bi-linkedin"></i>
                    <a href="{{ url_for('main.post', name=post.path.replace('blogs/', '')) }}" class="stretched-link">
                        <h3>{{ post.title }}</h3>
                    </a>
                    <p>{{ post.shortDesc }}.</p>
                    <a href="{{ url_for('main.post', name=post.path.replace('blogs/', '')) }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- End miniblog Item -->
   
{% endblock %}

{% block testimonials %}


    <!-- Testimonials Section -->


      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Authentic Voices: Stories of Our Journey Together</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">
      {% for testimonial in testimonials %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>{{testimonial.comment}}</span>
                        <i class="bi bi-quote quote-icon-right"></i>

                      </p>
                     <h3>{{testimonial.name}}</h3>

                      <h4>{{testimonial.title}}</h4>
                      <h4>{{testimonial.relationship}}</h4>
                      <a href="{{testimonial.linkedinProfile}}"><i class="bi bi-linkedin"></i></a>
                      
                      
                    </div>
                  </div>
                  
                </div>
              </div>
            </div><!-- End testimonial item -->
             {% endfor %}  
          </div> 
   
{% endblock %}

{% block trainings %}
<div class="container section-title" data-aos="fade-up">

  <h2>Trainings & Certifications</h2> 
  <table class="table table-striped"> 
    <thead> 
      <tr> 
        <th>#</th> 
        <th>Training Title</th> 
        <th>Facilitator</th> 
        <th>Date Obtained</th> 
        <th>Delivery Platform</th> 
        <th>View Certificate</th> 
      </tr> 
    </thead> 
      <tbody> 
        {% for training in trainings %} 
        <tr> 
          <td>{{ loop.index }}</td> 
          <td>{{training.title}}</td> 
          <td>{{training.facilitator }}</td> 
          <td>{{training.date }}</td> 
          <td>{{training.deliveryPlatform}}</td> 
          <td><a href="{{training.pdf_file}}" target="_blank" class="btn btn-primary">View Certificate</a></td> 

         </tr> 
         {% endfor %} 
        </tbody> 
      </table>



{% endblock %}





          </div>
          <div class="swiper-pagination"></div>
        </div>

   



    {% block contact %}

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Whether you are curious about my profile, need expert advice, or want to discuss potential opportunities, I'm eager to connect...</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>London, United Kingdom</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Me</h3>
                <p>+44 773 379 7844</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Me</h3>
                <p>soyinka.sowoolu@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
     

          
            <form id="contact-form" method="POST" action="{{ url_for('main.index') }}#contact" data-aos="fade-up" data-aos-delay="200">

 
              {{ form.hidden_tag() }}
              <div class="row gy-4">
              
                <div class="col-md-6">
                  {{ form.name(class="form-control") }}
                </div>

                <div class="col-md-6 ">
                  {{ form.email(class="form-control") }}
                </div>

                <div class="col-md-12">
                  {{ form.subject(class="form-control") }}
                </div>

                <div class="col-md-12">
                  {{ form.message(class="form-control") }}
                </div>

                <div class="col-md-12 text-center">
                
                  <!-- <div class="sent-message">{{confirm}}.</div> -->

                  {{ form.submit(class="btn btn-primary") }}
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

{% endblock %}
