<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% block styles %}
  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

 
  {% endblock %}

{% endblock %}
</head>

<body class="index-page">

  <header id="header" class="header d-flex flex-column justify-content-center">

    <i class="header-toggle d-xl-none bi bi-list"></i>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{{ url_for('main.index') }}#hero" class="active"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
        <li><a href="{{ url_for('main.index') }}#about"><i class="bi bi-person navicon"></i><span>About</span></a></li>
        <li><a href="{{ url_for('main.index') }}#resume"><i class="bi bi-file-earmark-text navicon"></i><span>Resume</span></a></li>
        <li><a href="{{ url_for('main.index') }}#portfolio"><i class="bi bi-file-bar-graph navicon"></i><span>Portfolio</span></a></li>
        <li><a href="{{ url_for('main.index') }}#miniblog"><i class="bi bi-pen navicon"></i><span>Mini-Blogs</span></a></li>
        <li><a href="{{ url_for('main.index') }}#trainings"><i class="bi bi-file-earmark-check navicon"></i><span> Trainings</span></a></li>
        <li><a href="{{ url_for('main.index') }}#demo"><i class="bi bi-display navicon"></i><span>Demo Apps</span></a></li>
        <li><a href="{{ url_for('main.index') }}#contact"><i class="bi bi-envelope-open navicon"></i><span>Contact</span></a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <section id="trainings" class="training section">{% block trainings %}
      
      
      <div class="container section-title" data-aos="fade-up">

        <h2>Trainings & Certifications</h2> 
        <table class="table table-striped"> 
          <thead> 
            <tr> 
              <th>#</th> 
              <th>Training Title</th> 
              <th>Facilitator</th> 
              <th>Date Obtained</th> 
              <th>Delivery Platform</th> 
              <th>View Certificate</th> 
            </tr> 
          </thead> 
            <tbody> 
              {% for training in trainings[:5] %} 
              <tr> 
                <td>{{ loop.index }}</td> 
                <td>{{training.title}}</td> 
                <td>{{training.facilitator }}</td> 
                <td>{{training.date }}</td> 
                <td>{{training.deliveryPlatform}}</td> 
                <td><a href="{{training.pdf_file}}" target="_blank" class="btn btn-primary">View Certificate</a></td> 
      
               </tr> 
               {% endfor %} 
              </tbody> 
            </table>
      
            <div  >
              <a href="{{url_for('main.index')}}#trainings" class="button">See Less &rarr;</a>
      
            </div>
      
      
      
      
      
      
      {% endblock %}

     
    </section><!-- /Trainings Section -->






  </main>

  <footer id="footer" class="footer position-relative light-background">
    <div class="container">
      <h3 class="sitename">Soyinka M Sowoolu</h3>
      <p>Experienced Data Analyst | Data Scientist | Project Manager | Consistent Learner | I help solve Project Management, Business Data Analysis and Data Science challenges!</p>
      <div class="social-links d-flex justify-content-center">
        <a href="{{linkedin_url}}"><i class="bi bi-linkedin"></i></a>
        <a href="{{github_url}}"><i class="bi bi-github"></i></a>
        <a href="{{medium_url}}"><i class="bi bi-medium"></i></a>
        <a href={{twitter_url}}><i class="bi bi-twitter-x"></i></a>
       
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Soyinka Sowoolu 2024</strong> <span>All Rights Reserved</span>
        </div>

      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->

  <script src="static/assets//vendor//bootstrap//js/bootstrap.bundle.min.js"></script>
  <script src="static/assets//vendor//php-email-form//validate.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>